.download{
  width: 200px;
  width: auto;
  background-color: #283645;
  padding:10px;
}

.download__container{
  text-align: center;
}
.download img{
  display: inline-block;
  padding:15px;
}

.download p{
  color: #fff;
  font-family: "Open Sans Light", sans-serif;
  font-size: 14px;
  text-align: center;
}
.download__btn{
  padding: 10px 30px;
/* тут должен быть флекс для позиционирования */

  color:#fff;
  text-decoration: none;
  user-select:none;
  background: #283645;
  outline: none;
  border: 2px solid #fff;
  border-radius: 50px;
}
